/* Shirey CSS */
body {
  margin: 0;
  padding: 0;
}

/* Page Begins Here */
html {
  scroll-behavior: smooth;
}

.nav-bar {
  background-color: #F1EFE7;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-bar ul {
  margin: 0; /* Add this line to remove default margin */
  padding: 0;
  text-align: center;
  background-color: #F1EFE7;
}

.nav-bar ul li {
  display: inline-flex;
  color: black;
  line-height: 100px;
}

.nav-bar ul li a {
  color: black;
  text-decoration: underline;
}

.nav-bar ul li a:hover {
  color: #FF6700;
}

/* Nav-Bar Buttons */
button {
  background: #F1EFE7;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 150px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}



/* Main Intro section */
.main {
  background-color: #F1EFE7;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #CFDBD5;
  padding: 200px;
  margin-top: -300px;
  min-height: 100vh;
  }


/* About Section */

#about {
  color: #FF6700;
  background-color: black;
  padding: 250px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: -200px;
  text-align: left;
  min-height: 55vh;
}

.text {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #F1EFE7;
}

#image {
  float: right;
  background-color: #F1EFE7;
  margin-top: -250px;
  padding: 10px;
}


/* Portfolio */

.portfolio {
  color: #FF6700;
  background-color: black;
  padding: 100px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: -100px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 25%;
  height: 50vh;
  background: white;
  padding: .4em;
  border-radius: 6px;
  margin-bottom: 50px;
  font-size: 35px;
  margin: 0 40px 40px 0;
  background-color: #F1EFE7;
  color: black;
}

.card-image {
  width: 100%;
  height: 50%;
}

.card-image:hover {
  transform: scale(0.98);
}

.github {
  color: black;
  font-weight: 400;
  font-size: 50px;
  padding-top: 20px;
  align-items: center;
  margin-top: 50px;
  margin-right: 35px;
  cursor: pointer;
}

.link {
  color: black;
  font-weight: 400;
  font-size: 50px;
  padding-top: 20px;
  align-items: center;
  cursor: pointer;
}

/* Resume */
.resume {
  color: black;
  background-color: #F1EFE7;
  padding: 100px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 150px;
  margin-left: -100px;
  margin-bottom: -100px;
  text-align: left;
  justify-content: left;
  width: 100%;
  min-height: 45vh;
}

.resume_title {
  margin-left: 100px;
  margin-top: -70px;
  color: black;
}

.resume_text {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-left: 100px;
}

.resume_link {
  margin-left: 350px;
  margin-top: 20px;
  color: black;
}

.resume_link:hover {
  color: #F5CB5C;
}

/* Contact section */
.singup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1.5em;
}

.contact_card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 50%;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background-color: #F1EFE7;
  box-shadow: 16px 16px 32px #FF6700,
    -16px -16px 32px #FF6700;
  border-radius: 8px;
  margin-top: 200px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 250px;
  height: 120px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 30px;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
  margin-top: 50px;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: #FF6700;
}

/* Footer */
.footer {
  max-height: 25vh;
}

.github_footer {
  color: black;
  font-weight: 400;
  font-size: 50px;
  padding-top: 20px;
  align-items: center;
  margin-top: 50px;
  margin-right: 35px;
  cursor: pointer;
}

.github_footer:hover {
  color: #FF6700;
}

.linkedin {
  color: #F1EFE7;
  font-weight: 400;
  font-size: 50px;
  padding-top: 20px;
  align-items: center;
  margin-top: 50px;
  margin-right: 35px;
  cursor: pointer;
}

.linkedin:hover {
  color: #FF6700;
}

.footer_tag {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  color: #FF6700;
}

.footer_nav-bar ul {
  margin-right: 10px;

}

.footer_nav-bar ul li {
  display: inline-flex;
  color: #F1EFE7;
  line-height: 70px;
  margin-right: 50px;
  margin-left: 50px;
}

.footer_nav-bar ul li a {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #F1EFE7;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: underline;

}

.footer_nav-bar ul li a:hover {
  color: #FF6700;
}


@media (max-width: 768px) {

  /* Adjust styles for smaller screens */
  .nav-bar ul li {
    margin-right: 20px;
    margin-left: 20px;
  }

  .intro {
    padding: 150px;
  }

  #about {
    padding: 150px;
  }

  .portfolio {
    padding: 50px;
  }

  .container {
    margin: 50px 0;
  }

  .card {
    width: 50%;
  }

  .resume {
    padding: 50px;
  }

  .resume_title,
  .resume_text {
    margin-left: 50px;
  }

  .resume_link {
    margin-left: 200px;
  }

  .contact_card {
    width: 300px;
    min-height: 250px;
  }

  .inputBox,
  .inputBox1 {
    width: 200px;
  }
}